* {
	margin: 0;
	padding: 0;
	
};

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

header{
	color: #1A5276;
}


.navbar-brand{
	font-size: 35px;
	font-family: Arial;
	font-weight: bold;
}

.nav-link {
	font-size: 20px;
	text-transform: uppercase;
}

.container{
	padding-top: 30px;

}

.container1{
	padding-right: 120px;
	padding-left: 120px;
}

.articulos article{
	padding: 20px;
	background: #D0D3D4;
	margin-bottom: 15px;
}

.articulos p  {
	text-align: justify;
	margin: 0px 10px 0 10px;  
}

.articulos article ul li {
	text-align: justify;
	margin: 0px 20px 0 20px; 
}



aside {
	float: left;
	background: #73C6B6;
	padding: 20px;
	box-sizing: border-box;
	text-align: justify;
}
aside a{
	color:#154360;
	font-size:17px;
	font-family:"tahoma";
}
aside h2 {
	text-align: center;
}

footer {
	margin: 0 120px 0 120px;
	background:#154360;
    color: #fff;
    clear: both;
    text-align: center;
    padding: 10px 0px;
}

h1{
  float: right;
  font-family: "consolas";
  text-align: center;
  font-size: 40px;
  margin: 20px 20px 0 0;
  color: #154360;
}

h2{
	font-family: verdana;
	font-size: 20px;
}


h3{
	font-weight: normal;
	font-family: tahoma;
	font-size: 15px;
}

